<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Cadastro</h1>

        <nav>
            <a href="/">Homepage</a>
            <a href="/usuarios">Listar Usuários</a>
        </nav>

        <form action="/usuario" method="POST" enctype="multipart/form-data">
            <div>
                <label for="nome">Nome: </label>
                <input type="text" name="nome" id="mome" placeholder="nome" />
            </div>

            <div>
                <label for="email">E-mail: </label>
                <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="E-mail"
                />
            </div>

            <div>
                <label for="image">Image: </label>
                <input type="file" name="image" id="image" />
            </div>

            <button type="submit">Salvar</button>
        </form>
    </body>
</html>
