<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <h1>Clique para saber o bichinho</h1>
        </main>

        <%- include("./partials/links.ejs") %> <%-
        include("./partials/footer.ejs") %>

        <script src="scripts/main.js"></script>
    </body>
</html>
