/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    color: white;
    background: url("/images/pikachu.jpeg") no-repeat center bottom;
    overflow-y: hidden;
    background-size: cover;
}
