<nav>
    <li>
        <a href="/">Home</a>
    </li>

    <li>
        <a href="/about">About</a>
    </li>
    <li>
        <a href="/produtos">Produtos</a>
    </li>
    <li>
        <a href="/criar/produtos"></a>
    </li>
</nav>
