<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <h1>Clique aqui para saber o bichinho</h1>
        </main>

        <li>
            <a href="/adriana"><% adriana %> </a>
        </li>
        <li>
            <a href="/dari">Dari</a>
        </li>

        <%- include("./partials/footer.ejs") %>
    </body>
</html>
