<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
    <body>
        <%- include ('./partials/header.ejs') %>
        <nav>
            <ul>
                <li><a href="/livros">Livros</a></li>
            </ul>
        </nav>

        <%- include ('./partials/footer.ejs') %>

        <script src="/js/main.js"></script>
    </body>
</html>
